@media screen and (max-width: 1230px)
{
    header .container
    {
        width: 950px;
    }
    #contenu
    {
        width: 950px;
    }
    #slider .webagency div
    {
        margin-left: 75px;
        top: 25%;
    }
    #slider .webagency h1
    {
        font-size: 1.7em;
    }
    #contact
    {
        margin-left: 625px;
    }
}

@media screen and (max-width: 950px)
{
    header .container
    {
        width: 768px;
    }
    #contenu
    {
        width: 768px;
    }
    #contact
    {
        margin-left: 450px;
    }
}

@media screen and (max-width: 768px)
{
    body
    {
        width: 100%;
    }

    /* HEADER */

    header
    {
        height: auto;
        width: 100%;
    }
    header .container
    {
        width: 100%;
        flex-direction: column;
    }
    header .container div
    {
        width: 185px;
        margin: auto;
    }
    header nav
    {
        width: 300px;
        margin: 0 auto 0 auto;
    }
    header nav li, header nav .selected
    {
        border: none;
        padding-bottom: 20px;
    }
    header nav .selected
    {
        border-bottom: solid 3px #5CADD3;
    }
    nav li:hover
    {
        border-bottom: solid 3px rgba(111, 193, 231, 0.493);
        border-top: none;
    }

    /* CONTENU */

    #contenu
    {
        margin: 0px auto;
        width: 100%;
    }
    h2
    {
        font-size: 1.8em;
    }

    /* SLIDER */

    #slider
    {
        padding-top: 135px;
    }
    #slider .webagency div
    {
        margin-left: 50px;
        width: 350px;
        top: 20%;
    }
    #slider .webagency h1
    {
        font-size: 1.5em;
    }
    #slider .webagency p
    {
        font-size: 0.75em;
    }
    #slider>button
    {
        width: 45px;
        height: 45px;
        font-size: 1.5em;
    }
    .slick-prev
    {
        left: -22.5px;
        top: 57%;
        border-radius: 0 100% 100% 0;
        padding-left: 23px;
    }
    .slick-next
    {
        right: -22.5px;
        top: 57%;
        border-radius: 100% 0 0 100%;
        padding-right: 23px;
    }
    
    /* SERVICES */

    #flex_services
    {
        display: flex;
        flex-direction: column;
    }
    #flex_services>div
    {
        width: 100%;
    }
    #titre_services
    {
        width: 100%;
    }

    /* PORTFOLIO */

    #portfolio
    {
        width: 100%;
    }
    #portfolio>div:first-child
    {
        width: 100%;
    }
    .apercu .info
    {
        opacity: 1;
    }

    /* FORMULAIRE */

    #formbackground
    {
        width: 100%;
    }
    #contact
    {
        margin-left: 52.5%;
    }
}

@media screen and (max-width: 667px)
{
    #slider .webagency div
    {
        margin-left: 35px;
        width: 250px;
        top: 15%;
    }
    #slider p
    {
        line-height: 1.1;
    }
    #slider .webagency h1
    {
        font-size: 1.2em;
        padding-bottom: 5px;
    }
    #slider .webagency p
    {
        font-size: 0.70em;
        padding-bottom: 5px;
    }
    #slider .webagency button
    {
        font-size: 0.8em;
        padding: 5px 10px 5px 10px;
    }
    .slick-prev
    {
        top: 63%;
    }
    .slick-next
    {
        top: 63%;
    }
    #formbackground
    {
        background: none;
    }
    #contact
    {
        margin: auto;
        background-color: rgba(158, 158, 158, 0.363);
    }
}
@media screen and (max-width: 400px)
{
    #slider .webagency div
    {
        top: 10%;
    }
    #slider .webagency h1
    {
        font-size: 1em;
        padding-bottom: 5px;
    }
    #slider .webagency p
    {
        font-size: 0.7em;
        padding-bottom: 5px;
    }
    #slider .webagency button
    {
        font-size: 0.7em;
        padding: 5px 10px 5px 10px;
    }
}
@media screen and (max-width: 320px)
{
    #liste_portfolio
    {
        width: 100%;
    }
}